
<h1>Champions</h1>

<ul>
<% @champions.each do |champion| %>
<li>
<%= champion.name %>
</li>
<li>
<%= champion.description %>
</li>
<li>
<% end %>
</ul>

<ul>
<% @weapons.each do |weapon| %>
<li>
<%= weapon.name %>
</li>
<li>
<%= weapon.attack_damage %> damage
</li>
<li>
<% end %>